.form {
  padding: 0 24px;
  display: flex;
  justify-content: center;
}

.form__container {
  width: 100%;
  /* max-width: 863px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__label {
  position: relative;
  width: 100%;
  align-self: flex-start;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 8px;
}

@media screen and (min-width: 720px) {
  .form__label {
      margin-bottom: 38px;
      padding: 0 18px;
  }
}

.form__item {
  border-radius: 8px;
  border: 1px solid var(--grey-25);
  width: 100%;
  min-height: 56px;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0 0 0 24px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}

@media screen and (min-width: 720px) {
  .form__item {
    padding-left: 30px;
  }
}

.form__item:focus {
  outline: none;
}

.form__item::placeholder {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.5;
}

.form__item_inactive {
  color: var(--vermellion);
  border: 1px solid var(--vermellion);
  background-color: var(--error);
}

.form__item-error {
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--vermellion);
  display: block;
  max-height: 15px;
  visibility: hidden;
  top:0;
  right: 0;
  width: max-content;
  margin-bottom: 8px;
}

/* @media screen and (min-width: 720px) {
  .form__item-error {
    margin-top: 0;
    top: 75%;
  }
} */

.form__item-error_active {
  visibility: visible;
}
  
.form__button {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--grey-25);
  min-height: 56px;
  box-sizing: border-box;
  background-color: var(--dark-navy);
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  margin-bottom: 40px;
}

.form__button:hover {
  background: var(--gradient-1);
  box-shadow: 0px 16px 32px 0px var(--shadow);
}

.form__button_inactive {
  pointer-events: none;
}