@import "./vendor/normalize.css";
@import "./vendor/fonts/fonts.css";

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: #fff;
  --pale-navy: #36384d;
  --dark-navy: #242742;
  --vermellion: #ff6155;
  --error: rgba(255, 97, 85, 0.15);
  --grey-25: rgba(25, 24, 43, 0.25);
  --shadow: rgba(255, 97, 85, 0.50);
  --gradient-1: linear-gradient(204deg, #ff6a3a 0%, #ff527b 100%);



  
  --saturated-dark-blue: #1b2330;
  --dark-blue: #181f2b;
  --very-dark-blue: #0b1524;
  --pale-blue: #202a3c;
  --cyan: #62e0d9;
  --light-blue: #339ecc;
  --light-red: #ff4242;

  /* 

- Tomato: hsl(4, 100%, 67%)

- Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: hsl(0, 0%, 100%) */
}

